<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CodeHighlighting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B3D2E4E11CAA267700162191</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3D2E4F51CAA267700162191</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3D2E5001CAA267700162191</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
